<ion-content fullscreen="true" class="auth">
  <ion-grid>

    <ion-row class="logo-row">
      <ion-col size="8" size-sm="4" offset="2" offset-sm="4" >
        <img src="../../../../assets/image/logo.png" alt="logo">
      </ion-col>
    </ion-row>


    <form [formGroup]="form" >
      <ion-row>

        <ion-col size="10" size-sm="6" offset="1" offset-sm="3">
          <label  class="login-label">Code de vérification</label>
        </ion-col>
        <ion-col size="10" size-sm="6" offset="1" offset-sm="3">
          <input formControlName="code" class="login-input" type="text" />
        </ion-col>

        <ion-col  size="10" size-sm="6" offset="1" offset-sm="3">
          <ion-button (click)="onVerifyCode()" color="light" expand="full" [disabled]="!form.valid">Confirmer</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
