.qr-logo {
  font-size: 80px;
  background-color: var(--cb-gray);
  padding: 35px;
  border-radius: 50%;
}

.qr {
  text-align: center;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.qr-button {
  border-radius: 50%;
}

.qr-row {
  height: 70vh !important;
}
