<ion-header  class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title class="ion-text-center toolbar">Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row class="ion-padding-start ion-padding-end ion-justify-content-center" style="background-color: white !important;" *ngIf="!loading && restaurants?.length > 0" >
  <ion-col size="12" size-sm="7" >
    <p class="page-title">Avec Coco Tunisia </p>
    <p class="page-title">choisissez votre meilleure</p>
    <p class="page-title page-title-primary">destination pour cet été !</p>
  </ion-col>
</ion-row>

<ion-content *ngIf="!loading">
  <ion-row style="height: calc(100vh - 240px ) ;" class="ion-padding-start ion-padding-end ion-justify-content-center" *ngIf="restaurants?.length > 0">
    <ion-col size="12" size-sm="7" *ngFor="let restaurant of restaurants" class="ion-no-padding">
      <ion-card class="card">
        <img mat-card-image (click)="getRestaurantDetails(restaurant.id)" class="pointer full-width no-margin"
               [src]="restaurant.image ? url + restaurant.image : '/assets/img/no-record.png' ">
        <ion-card-header>
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-card-title >{{restaurant.name}}</ion-card-title>
<!--            <circle-progress-->
<!--                    [percent]="5.0"-->
<!--                    [backgroundColor]="'#F15412'"-->
<!--                    [backgroundGradientStopColor]="'#ffffff'"-->
<!--                    [backgroundPadding]="10"-->
<!--                    [radius]="10"-->
<!--                    [toFixed]="1"-->
<!--                    [maxPercent]="5"-->
<!--                    [outerStrokeWidth]=0-->
<!--                    [outerStrokeColor]="'#FFFFFF'"-->
<!--                    [titleColor]="'#ffffff'"-->
<!--                    [titleFontSize]="15"-->
<!--                    [titleFontWeight]="500"-->
<!--                    [animationDuration]="1500"-->
<!--                    [showSubtitle]=false-->
<!--                    [showUnits]=false-->
<!--                    [showInnerStroke]=false-->
<!--                    [startFromZero]=true-->
<!--            ></circle-progress>-->
          </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <app-cb-errors [exist]="restaurants?.length == 0" [message]="'Aucun restaurant trouvé'" [icon]="'storefront-outline'"></app-cb-errors>
  <app-cb-errors [exist]="error" [message]="'Une erreur est survenue essayer plus tard'" [icon]="'bug-outline'"></app-cb-errors>

</ion-content>
