<ion-header class="ion-no-border" *ngIf="restaurant">
  <ion-toolbar color="transparent" mode="md">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="light" slot="icon-only" name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div style="position:absolute;" *ngIf="restaurant">
  <div class="product-img" [style.background-image]="'url(' + url + restaurant?.image +')'"></div>
</div>

<div style="overflow-y: scroll !important; margin-top : calc(20vh - 30px )"  >

  <div class="ion-padding-start ion-padding-end" *ngIf="restaurant">

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <p class="product-name">{{restaurant?.name}}</p>
      </ion-col>

      <ion-col size="12">
        <p class="product-description">{{restaurant?.description}}</p>
      </ion-col>
    </ion-row>

    <app-cb-pack-gallery [menus]="restaurant?.menus"></app-cb-pack-gallery>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <p class="product-name">Nos Emplacements</p>
      </ion-col>
    </ion-row>

    <app-cb-place-gallery [rooms]="restaurant?.rooms"></app-cb-place-gallery>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <p class="product-name">Notre Galerie</p>
      </ion-col>
    </ion-row>

    <app-cb-gallery [images]="restaurant?.images"></app-cb-gallery>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <p class="product-name">Localisation</p>
      </ion-col>
    </ion-row>

  </div>

  <div class="map-container ">
        <div class="map-frame">
          <div id="map"></div>
        </div>
  </div>

  <div class="ion-padding-start ion-padding-end" *ngIf="restaurant">
      <ion-button (click)="openAddReservationModal()" class="btn-primary"  expand="block" >
        Réserver
      </ion-button>
  </div>

</div>
