<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-title class="ion-text-center toolbar">Espace Réservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<!--  <p class="page-title ion-padding-top">Assurer la réparation</p>-->
<!--  <p class="page-title">de votre téléphone avec</p>-->
<!--  <p class="page-title">notre équipe <span class="page-title-primary" >professionnel</span> </p>-->

  <p class="page-title ion-padding-top">Réservez maintenant</p>
  <p class="page-title">une journée de rêve</p>
  <p class="page-title">en quelques<span class="page-title-primary" > cliques !</span> </p>

  <ion-row class="request-card" (click)="openAddReservationModal()">
    <ion-col size="6" class="ion-align-self-center ion-padding">
      <h5 class="request-card-title">Nouvelle réservation</h5>
      <p class="request-card-text">Choisissez votre distination préférée </p>
    </ion-col>
    <ion-col size="6">
      <img class="request-card-img" src="assets/image/request_image_2.png">
    </ion-col>
  </ion-row>

  <ion-row class="request-card" (click)="openListReservationPage()">
    <ion-col size="6" class="ion-align-self-center ion-padding">
      <h5 class="request-card-title">Mes réservations</h5>
      <p class="request-card-text">Consultez et suivre vos réservations </p>
    </ion-col>
    <ion-col size="6">
      <img class="request-card-img" src="assets/image/request_image_1.png">
    </ion-col>
  </ion-row>

</ion-content>
