.state-info {
  color: var(--ion-color-light);
  background:  var(--ion-color-warning);
  text-align: center;
  border-radius: 20px;
}

.state-success {
  color: var(--ion-color-light);
  background:  var(--ion-color-success-shade);
  text-align: center;
  border-radius: 20px;
}
