.page {
    &-title {
        font-size: 22px;
        font-family: "Poppins-Bold" ;
        &-primary {
          color: var(--ion-color-primary);
        }

        &-light {
            color: var(--ion-color-light);
        }
    }
}
