.pack-name {
  text-align: start;
  margin-bottom: 0 !important;
  font-size: 17px;
  color: var(--ion-color-secondary);
  font-family: "Poppins-bold" ;
}

.pack-description {
  text-align: start;
  font-size: 14px;
  color: var(--ion-color-medium-shade);
  font-family: "Poppins-Regular" ;
}

.pack-img {
  border-radius: 20px
}
