<div class="dialog-container">
  <p class="dialog-title">Ajouter un restaurant</p>

    <mat-tab-group #tabGroup mat-align-tabs="center" (selectedIndexChange)="handleTabChange($event)">

      <mat-tab label="Informations et images">
        <form [formGroup]="informationsForm">
          <div class="col-12 row no-margin justify-content-center mt-5">
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nom</mat-label>
                <input  formControlName="name" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input  formControlName="description" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Numéro du télépone</mat-label>
                <input  formControlName="phone" matInput type="number" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input  formControlName="email" matInput type="email" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Site Web</mat-label>
                <input  formControlName="webSite" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Responsable</mat-label>
                <input  formControlName="responsable" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Message Sms</mat-label>
                <input  formControlName="smsMessage" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-6 dialog-image-preview mt-3">
              <img class="img-fluid" src="./assets/img/upload-image.png" (click)="filePicker.click()"/>
              <input type="file" #filePicker (change)="onPickImage($event)">
            </div>
            <div class="col-6 mt-3" [ngClass]="croppedImage ? '' : 'hide'">
              <div class="image-preview">
                <!-- imageQuality used only with jpeg output -->
                <image-cropper
                  imageQuality="10"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="5 / 2"
                  (imageCropped)="imageCropped($event)">
                </image-cropper>
              </div>
            </div>
            <div class="col-12 mt-2 row justify-content-end">
              <button class="submit-btn pl-5 pr-5" (click)="toNextTab(tabGroup)" [disabled]="!informationsForm.valid || !croppedImage" >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Planning" >
        <form [formGroup]="planningForm">
          <div class="col-12 row no-padding no-margin justify-content-center mt-4">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="monday" (change)="handleDayChange('monday' ,$event)">Lundi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="mondayOpen" matInput type="text" [ngxTimepicker]="mondayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #mondayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="mondayClose" matInput type="text" [ngxTimepicker]="mondayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #mondayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="tuesday" (change)="handleDayChange('tuesday' ,$event)">Mardi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="tuesdayOpen" matInput type="text" [ngxTimepicker]="tuesdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #tuesdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="tuesdayClose" matInput type="text" [ngxTimepicker]="tuesdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #tuesdayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="wednesday" (change)="handleDayChange('wednesday' ,$event)">Mercredi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="wednesdayOpen" matInput type="text" [ngxTimepicker]="wednesdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #wednesdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="wednesdayClose" matInput type="text" [ngxTimepicker]="wednesdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #wednesdayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="thursday" (change)="handleDayChange('thursday' ,$event)" >Jeudi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="thursdayOpen" matInput type="text" [ngxTimepicker]="thursdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #thursdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="thursdayClose" matInput type="text" [ngxTimepicker]="thursdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #thursdayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="friday" (change)="handleDayChange('friday' ,$event)">Vendredi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="fridayOpen" matInput type="text" [ngxTimepicker]="fridayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #fridayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="fridayClose" matInput type="text" [ngxTimepicker]="fridayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #fridayClose></ngx-material-timepicker>
            </div>
          </div>
          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="saturday" (change)="handleDayChange('saturday' ,$event)" >Samedi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="saturdayOpen" matInput type="text" [ngxTimepicker]="saturdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #saturdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="saturdayClose" matInput type="text" [ngxTimepicker]="saturdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #saturdayClose></ngx-material-timepicker>
            </div>
          </div>
          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="sunday" (change)="handleDayChange('sunday' ,$event)" >Dimanche</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="sundayOpen" matInput type="text" [ngxTimepicker]="sundayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #sundayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="sundayClose" matInput type="text" [ngxTimepicker]="sundayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #sundayClose></ngx-material-timepicker>
            </div>
            <div class="col-12 mt-2 row justify-content-end pr-3" >
              <div class="pr-3">
                <button class="submit-btn pl-5 pr-5" (click)="toNextTab(tabGroup)" [disabled]="!planningForm.valid" >
                  Next
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Menu">
        <div class="pt-3 pr-3 pl-3">
          <div class="row mb-3 justify-content-between align-items-center">
            <div></div>
            <button class="square-btn ml-2"  (click)="addMenu()">
              <i class="material-icons icon-blue" >
                add
              </i>
            </button>
          </div>
          <div class="restaurant-add-container">
            <table >
              <tr class="restaurant-add-tr" *ngIf="menus.length != 0">
                <th class="restaurant-add-th">Nom</th>
                <th class="restaurant-add-th">Description</th>
                <th class="restaurant-add-th">Image</th>
              </tr>
              <tr *ngFor="let menu of menus" class="restaurant-add-tr" >
                <td class="restaurant-add-td">{{menu.name}}</td>
                <td class="restaurant-add-td">{{menu.description}}</td>
                <td class="restaurant-add-td">
                  <img class="restaurant-add-image" src="{{menu.image}}" />
                </td>
              </tr>
            </table>
          </div>
          <div class="col-12 mt-2 row justify-content-end">
            <button class="submit-btn pl-5 pr-5" (click)="toNextTab(tabGroup)" [disabled]="menus.length === 0" >
              Next
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Room">
        <div class="pt-3 pr-3 pl-3">
          <div class="row mb-3 justify-content-between align-items-center">
            <div></div>
            <button class="square-btn ml-2"  (click)="addRoom()">
              <i class="material-icons icon-blue" >
                add
              </i>
            </button>
          </div>

          <div class="restaurant-add-container">
            <table >
              <tr class="restaurant-add-tr" *ngIf="rooms.length != 0">
                <th class="restaurant-add-th">Nom</th>
                <th class="restaurant-add-th">Description</th>
                <th class="restaurant-add-th">Max n° place</th>
                <th class="restaurant-add-th">Min n° place</th>
                <th class="restaurant-add-th">Prix adults</th>
                <th class="restaurant-add-th">Prix enfants</th>
                <th class="restaurant-add-th">Image</th>
              </tr>
              <tr *ngFor="let room of rooms" class="restaurant-add-tr" >
                <td class="restaurant-add-td">{{room.name}}</td>
                <td class="restaurant-add-td">{{room.description}}</td>
                <td class="restaurant-add-td">{{room.maxPlace}}</td>
                <td class="restaurant-add-td">{{room.minPlace}}</td>
                <td class="restaurant-add-td">{{room.packPrice}}</td>
                <td class="restaurant-add-td">{{room.packChildrenPrice}}</td>
                <td class="restaurant-add-td">
                  <img class="restaurant-add-image" src="{{room.image}}" />
                </td>
              </tr>
            </table>
          </div>

          <div class="col-12 mt-2 row justify-content-end">
            <button class="submit-btn pl-5 pr-5" (click)="toNextTab(tabGroup)" [disabled]="rooms.length === 0" >
              Next
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Gallerie">
        <div class="p-4">
          <div class="row mb-3 justify-content-between align-items-center">
            <div></div>
            <button class="square-btn ml-2"  (click)="addImage()">
              <i class="material-icons icon-blue" >
                add
              </i>
            </button>
          </div>
          <div class="row justify-content-center" >
            <div class="col-12 col-md-4 mt-3" *ngFor="let image of images">
              <img class="full-width" src="{{image.image}}" />
            </div>
          </div>
          <div class="col-12 mt-2 row justify-content-end">
            <button class="submit-btn pl-5 pr-5" (click)="toNextTab(tabGroup)" [disabled]="images.length === 0" >
              Next
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Localisation">
        <div class="map-container col-12 mt-5">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <button class="submit-btn full-width" (click)="addRestaurant()" >
            Sauvgarder
          </button>
        </div>
      </mat-tab>

    </mat-tab-group>

</div>

