<div class="dialog-container">
  <p class="dialog-title">Ajouter un restaurant</p>

    <mat-tab-group mat-align-tabs="center" (selectedIndexChange)="changeTab($event)">

      <mat-tab label="Informations et images">
        <form [formGroup]="informationsForm">
          <div class="col-12 row no-margin justify-content-center mt-5">
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nom</mat-label>
                <input  formControlName="name" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input  formControlName="description" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Numéro du télépone</mat-label>
                <input  formControlName="phone" matInput type="number" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input  formControlName="email" matInput type="email" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Site Web</mat-label>
                <input  formControlName="webSite" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field class="full-width" appearance="utline">
                <mat-label>Responsable</mat-label>
                <input  formControlName="responsable" matInput type="text" required>
              </mat-form-field>
            </div>
            <div class="col-6 dialog-image-preview mt-3">
              <img class="img-fluid" src="./assets/img/upload-image.png" (click)="filePicker.click()"/>
              <input type="file" #filePicker (change)="onPickImage($event)">
            </div>
            <div class="col-6 mt-3" [ngClass]="croppedImage ? '' : 'hide'">
              <div class="image-preview">
                <image-cropper
                  imageQuality="10"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="5 / 3"
                  (imageCropped)="imageCropped($event)">
                </image-cropper>
              </div>
            </div>
            <div class="col-12 mt-2">
              <button class="submit-btn full-width" (click)="saveInformation()" [disabled]="!informationsForm.valid || !croppedImage" >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Planning">
        <form [formGroup]="planningForm">
          <div class="col-12 row no-padding no-margin justify-content-center mt-4">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="monday" (change)="handleDayChange('monday' ,$event)">Lundi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="mondayOpen" matInput type="text" [ngxTimepicker]="mondayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #mondayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="mondayClose" matInput type="text" [ngxTimepicker]="mondayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #mondayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="tuesday" (change)="handleDayChange('tuesday' ,$event)">Mardi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="tuesdayOpen" matInput type="text" [ngxTimepicker]="tuesdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #tuesdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="tuesdayClose" matInput type="text" [ngxTimepicker]="tuesdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #tuesdayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="wednesday" (change)="handleDayChange('wednesday' ,$event)">Mercredi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="wednesdayOpen" matInput type="text" [ngxTimepicker]="wednesdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #wednesdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="wednesdayClose" matInput type="text" [ngxTimepicker]="wednesdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #wednesdayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="thursday" (change)="handleDayChange('thursday' ,$event)" >Jeudi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="thursdayOpen" matInput type="text" [ngxTimepicker]="thursdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #thursdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="thursdayClose" matInput type="text" [ngxTimepicker]="thursdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #thursdayClose></ngx-material-timepicker>
            </div>
          </div>

          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="friday" (change)="handleDayChange('friday' ,$event)">Vendredi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="fridayOpen" matInput type="text" [ngxTimepicker]="fridayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #fridayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="fridayClose" matInput type="text" [ngxTimepicker]="fridayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #fridayClose></ngx-material-timepicker>
            </div>
          </div>
          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="saturday" (change)="handleDayChange('saturday' ,$event)" >Samedi</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="saturdayOpen" matInput type="text" [ngxTimepicker]="saturdayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #saturdayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="saturdayClose" matInput type="text" [ngxTimepicker]="saturdayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #saturdayClose></ngx-material-timepicker>
            </div>
          </div>
          <div class="col-12 row no-padding no-margin justify-content-center">
            <div class="col-2 full-width pt-3" >
              <mat-slide-toggle formControlName="sunday" (change)="handleDayChange('sunday' ,$event)" >Dimanche</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Ouverture</mat-label>
                <input  formControlName="sundayOpen" matInput type="text" [ngxTimepicker]="sundayOpen">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #sundayOpen></ngx-material-timepicker>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Fermeture</mat-label>
                <input  formControlName="sundayClose" matInput type="text" [ngxTimepicker]="sundayClose">
              </mat-form-field>
              <ngx-material-timepicker [timepickerClass]="'custome-class'" #sundayClose></ngx-material-timepicker>
            </div>
            <div class="col-12 mt-3">
              <button class="submit-btn full-width" (click)="savePlanning()" [disabled]="!planningForm.valid" >
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Menu">
        <div class="p-4">
          <div class="row mb-3 justify-content-between align-items-center">
            <div></div>
            <button class="square-btn ml-2 scale-in-center"  (click)="addMenu()">
              <i class="material-icons icon-blue" >
                add
              </i>
            </button>
          </div>
          <div *ngFor="let menu of menus">
            <p>{{menu.name}}</p>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Room">
        <div class="p-4">
          <div class="row mb-3 justify-content-between align-items-center">
            <div></div>
            <button class="square-btn ml-2 scale-in-center"  (click)="addRoom()">
              <i class="material-icons icon-blue" >
                add
              </i>
            </button>
          </div>
          <div *ngFor="let room of rooms">
            <p>{{room.name}}</p>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Gallerie">
        <div class="p-4">
          <div class="row mb-3 justify-content-between align-items-center">
            <div></div>
            <button class="square-btn ml-2 scale-in-center"  (click)="addImage()">
              <i class="material-icons icon-blue" >
                add
              </i>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Localisation">
        <div class="map-container col-12 mt-5">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <button class="submit-btn full-width" (click)="addRestaurant()" >
            Sauvgarder
          </button>
        </div>
      </mat-tab>

    </mat-tab-group>

<!--  </form>-->

</div>

