.header-row {
  font-weight: 600;
  border-bottom: 1px solid #ececec;
  word-wrap: break-word;
  font-size: 12px;
  text-align: center;
}

.data-row {
  border-bottom: 1px solid #ececec;
  word-wrap: break-word;
  font-size: 9px;
  text-align: center;
}

