.no-padding {
  padding: 0 !important;
}

.padding-10 {
  padding:10px !important;
}

.padding-5 {
  padding:5px !important;
}

.margin-10 {
  padding:10px !important;
}

.margin-5 {
  padding:5px !important;
}

.no-margin  {
  margin: 0 !important;
}

.margin-b-100 {
  margin-bottom: 150px !important ;
}

.margin-b-50 {
  margin-bottom: 50px ;
}

.margin-t-10 {
  margin-top: 10px ;
}

.full-width {
  width: 100% !important;
}

.full-height  {
  height: 100% !important;
}

.hidden {
  visibility: hidden;
  height: 0 !important;
}
