<div class="page">
<!--  *ngIf="!loading"-->
  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div class="scale-in-center">
      <p class="title">
        <span class="material-icons title-icon">restaurant</span>
        Restaurants
      </p>
    </div>
    <div>
<!--      <input #key class="search" (input)="applyFilter(key.value)">-->
      <button class="square-btn ml-2 scale-in-center"  (click)="openAddModal()">
        <i class="material-icons icon-blue" >
          add
        </i>
      </button>
    </div>
  </div>

</div>
