<div class="page" *ngIf="!loading">

  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div>
      <p class="title">
        <span class="material-icons title-icon">restaurant</span>
        Restaurants
      </p>
    </div>
    <div>
      <button class="square-btn ml-2"  (click)="openAddModal()">
        <i class="material-icons icon-blue" >
          add
        </i>
      </button>
    </div>
  </div>

  <div class="row"  *ngIf="restaurants?.length > 0">
    <div *ngFor="let item of restaurants" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <mat-card >
        <img mat-card-image (click)="getRestaurantDetails(item.id)" class="pointer img-fluid no-margin"
             [src]="item.image ? url + item.image : '/assets/img/no-record.png' ">
        <mat-card-content class="p-3">
          <h2>{{item.name}}</h2>
          <p>{{item.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <app-cb-errors [array]="restaurants" [error]="error"></app-cb-errors>

</div>
