//$ej-orange : #ff9215 ;
//$ej-pink : #ff0c53 ;
//$ej-red : #ff5851;

$ej-navy : #112d4e ;
$ej-blue: #3f72af ;
$ej-white : #f9f7f7;
$ej-white-blue: #dbe2ef;

$ej-grey : #767676;
$ej-dark : #323232;
$ej-danger : #bf0000;
$ej-success : #188015;

//$ej-gradient : linear-gradient(90deg, $ej-pink 0%, $ej-orange 100%);
//$ej-gradient-inverse : linear-gradient(90deg, $ej-pink 0%, $ej-orange 100%);
