<ion-content fullscreen="true" class="auth">
  <ion-grid style="padding-top: calc((100vh - 500px) / 2)">

    <ion-row class="ion-justify">
      <ion-col class="ion-text-center" size="12">
        <img class="auth-image" src="../../../assets/image/logo.png" alt="logo">
      </ion-col>
    </ion-row>

    <form [formGroup]="form" >
      <ion-row class="ion-justify-content-center">

        <ion-col size="10" size-sm="7">
          <input formControlName="phone" class="auth-input" type="text" placeholder="Numéro du téléphone" />
        </ion-col>

        <ion-col  size="10" size-sm="7">
          <ion-button (click)="send()" class="btn-light" expand="block" [disabled]="!form.valid">Envoyer</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
