<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-title class="ion-text-center toolbar">Espace Réservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="ion-justify-content-center">

    <ion-col size="12" size-sm="7">
      <p class="page-title ion-padding-top">Réservez maintenant</p>
      <p class="page-title">une journée de rêve</p>
      <p class="page-title">en quelques<span class="page-title-primary" > cliques !</span> </p>
    </ion-col>

    <ion-col size="12" size-sm="7">
      <ion-row class="section-card" (click)="openAddReservationModal()">
        <ion-col size="6">
          <img class="section-card-img" src="assets/image/reservations_image_2.png">
        </ion-col>
        <ion-col size="6" class="ion-align-self-center ion-padding">
          <h5 class="section-card-title">Nouvelle réservation</h5>
          <p class="section-card-text">Choisissez votre distination préférée </p>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" size-sm="7">
      <ion-row class="section-card" (click)="openListReservationPage()">
        <ion-col size="6" class="ion-align-self-center ion-padding">
          <h5 class="section-card-title">Mes réservations</h5>
          <p class="section-card-text">Consultez et suivre vos réservations </p>
        </ion-col>
        <ion-col size="6">
          <img class="section-card-img" src="assets/image/reservations_image_1.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
