<div class="page">

  <div class="row mt-3 mb-3 justify-content-between align-items-center">
    <div class="scale-in-center">
      <p class="title">
        <span class="material-icons title-icon">alternate_email</span>
        service e-mails
      </p>
    </div>
  </div>

  <div class="row scale-in-center" >
    <div class="col-12 col-sm-6 col-md-4" style="border:1px solid black">
      sqdqsdqsdsqd
    </div>
    <div class="col-12 col-sm-6 col-md-8 " style="border:1px solid black">
qsdqsdqsdqsd
    </div>

  </div>
</div>
