<ion-header class="ion-no-border">
  <ion-toolbar mode="md" >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center toolbar">Détails de réservation</ion-title>
    <ion-buttons slot="end">
      <ion-button disabled="true">
        <ion-icon color="primary" slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="page-title">Informations relatives</p>
  <p class="page-title">à la réservations</p>

  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size="12" size-md="7">
      <ngx-qrcode
              [elementType]="'url'"
              [value]="value"
              cssClass="aclass"
              errorCorrectionLevel="L">
      </ngx-qrcode>
    </ion-col>

    <ion-row>

      <ion-col size="8">
        <p class="form-card-label m-0">
          <ion-icon class="form-card-icon" name="fast-food"></ion-icon><span class="form-card-icon-text">{{ reservation.restaurant.name}}</span>
        </p>
      </ion-col>

      <ion-col size="4" class="ion-align-self-center" [ngClass]="getSateColor(reservation.state)">
        <p class="form-card-label m-0">{{ getSateName(reservation.state)}}</p>
      </ion-col>

      <ion-col size="6">
        <p class="form-card-label m-0">
          <ion-icon class="form-card-icon" name="calendar"></ion-icon><span class="form-card-icon-text">{{ reservation.date | date}}</span>
        </p>
      </ion-col>

      <ion-col size="6">
        <p class="form-card-label m-0">
          <ion-icon class="form-card-icon" name="alarm"></ion-icon><span class="form-card-icon-text">{{ reservation.time + " H" }}</span>
        </p>
      </ion-col>

      <ion-col size="6">
        <p class="form-card-label m-0">
          <ion-icon class="form-card-icon" name="cash"></ion-icon>
          <span class="form-card-icon-text">{{ "Prix: " +  reservation.price + " DT" }}</span>
        </p>
      </ion-col>

      <ion-col size="6">
        <p class="form-card-label m-0">
          <ion-icon class="form-card-icon" name="navigate-circle"></ion-icon>
          <span class="form-card-icon-text">{{ reservation.room }}</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-col size="12">
      <p class="form-card-label m-0">
        <ion-icon class="form-card-icon" name="people"></ion-icon>
        <span class="form-card-icon-text">{{ reservation.adultNumber + " adulte(s)  " +
        reservation.childrenNumber + " enfant(s)  " +
        reservation.babeNumber + " bébé(s)  " +
        reservation.carNumber + " voiture(s)"  }}</span>
      </p>
    </ion-col>

    <ion-col size="12" size-sm="7" class="ion-no-padding ion-margin-top" *ngIf="reservation.state == 'checked'">
      <ion-button (click)="confirm(reservation)" class="btn-secondary" expand="block" >
        Confirmer
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="12" size-sm="7" class="ion-no-padding">
      <ion-button (click)="cancel(reservation)" class="btn-primary"  expand="block" >
        Annuler
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>

</ion-content>
